.frame::-webkit-scrollbar {
  -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
  width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
  height: 11px;
}

.frame::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.frame::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #B3B3B3;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.player_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.player_container {
  margin: 40px;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .player_container {
    width: 80%;
    height: 80%;
    margin: 20px;
  }
}
.player_container .player_main_functions {
  max-height: 300px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #212121;
  border-radius: 15px;
  padding: 25px;
  -webkit-box-shadow: 3px -4px 25px 24px black;
  -moz-box-shadow: 3px -4px 25px 24px black;
  box-shadow: 3px -4px 25px 24px black;
}
@media screen and (max-width: 768px) {
  .player_container .player_main_functions {
    padding: 15px 5px;
  }
}
.player_container .player_main_functions .main_functions_top, .player_container .player_main_functions .main_functions_bottom {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.player_container .player_main_functions .main_functions_top .functions_top-flex, .player_container .player_main_functions .main_functions_bottom .functions_top-flex {
  width: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .player_container .player_main_functions .main_functions_top .functions_top-flex, .player_container .player_main_functions .main_functions_bottom .functions_top-flex {
    width: 100%;
  }
}
.player_container .player_main_functions .main_functions_top .functions_top-flex .play, .player_container .player_main_functions .main_functions_top .functions_top-flex .pause, .player_container .player_main_functions .main_functions_bottom .functions_top-flex .play, .player_container .player_main_functions .main_functions_bottom .functions_top-flex .pause {
  font-size: 50px;
  cursor: pointer;
}
.player_container .player_main_functions .main_functions_top .prev, .player_container .player_main_functions .main_functions_top .next, .player_container .player_main_functions .main_functions_bottom .prev, .player_container .player_main_functions .main_functions_bottom .next {
  font-size: 25px;
  cursor: pointer;
}
.player_container .player_main_functions .main_functions_top .start_counter, .player_container .player_main_functions .main_functions_top .end_counter, .player_container .player_main_functions .main_functions_bottom .start_counter, .player_container .player_main_functions .main_functions_bottom .end_counter {
  width: 25px;
  text-align: center;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .player_container .player_main_functions .main_functions_top .start_counter, .player_container .player_main_functions .main_functions_top .end_counter, .player_container .player_main_functions .main_functions_bottom .start_counter, .player_container .player_main_functions .main_functions_bottom .end_counter {
    min-width: 30px;
  }
}
.player_container .player_main_functions .main_functions_bottom {
  justify-content: space-around;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .player_container .player_main_functions .main_functions_bottom {
    flex-wrap: wrap;
  }
}
.player_container .player_main_functions .main_functions_bottom div {
  flex: 1;
}
.player_container .player_main_functions .main_functions_bottom .stop_button, .player_container .player_main_functions .main_functions_bottom .toggle_mute_button {
  flex-wrap: wrap;
  cursor: pointer;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .player_container .player_main_functions .main_functions_bottom .stop_button, .player_container .player_main_functions .main_functions_bottom .toggle_mute_button {
    order: 2;
    flex: 50%;
    margin-top: 30px;
  }
}

.playerActive {
  display: none;
}

.soundTracker {
  width: 50%;
  margin: 0 20px;
}

.upload_container {
  width: 100%;
  padding: 15px 25px 10px 0px;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  .upload_container {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}

.upload_file {
  background-color: #1DB953;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.playlist_wrapper {
  width: 100%;
}
.playlist_wrapper .playlist_container {
  -webkit-box-shadow: 3px -4px 25px 24px black;
  -moz-box-shadow: 3px -4px 25px 24px black;
  box-shadow: 3px -4px 25px 24px black;
  border-radius: 15px;
  margin: 50px 0;
  min-height: 100%;
  width: 100%;
  background-color: #212121;
}
.playlist_wrapper .playlist_container p {
  padding: 25px;
}
.playlist_wrapper .playlist_container ol {
  max-height: 200px;
  overflow-y: scroll;
}

.active_sound {
  color: #1DB953;
}

/*# sourceMappingURL=styles.css.map */
